@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  font-size: 1rem;
  height: 100vh;
}

ul,
li {
  list-style: none;
}

img {
  width: 24px;
  height: 24;
  object-fit: contain;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

img:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
